@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div class="col-12">
        <div class="row">
            <div class="card shadow  card-mangin col-4" style="width: 100%">
                <img src="~/images/01.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Minhas Econômias</h5>
                    <p class="card-text">Aqui você pode gerenciar seus investimentos mensais e gerar relatórios de variação por períodos.</p>
                    <a href="#" class="btn btn-primary">Econômias</a>
                </div>
            </div>
            <div class="card shadow card-mangin col-4" style="width: 100%">
                <img src="~/images/02.png" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Lançamento de Gastos Mensal</h5>
                    <p class="card-text">Gerencie suas contas mensais com mais praticidade e facilidade. Você pode verificar suas contas a pagar, contas a receber e muito mais.</p>
                    <a href="#" class="btn btn-primary">Contas Mensais</a>
                </div>
            </div>
        </div>
    </div>
    
</div>
